<launch>
    <arg name="gui" default="True" />

    <arg name="model" value="$(find etna_workcell)/urdf/abb_workcell.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <include file="$(find abb_common)/launch/robot_interface.launch">
        <arg name="robot_ip" value="192.168.30.4" />
        <arg name="J23_coupled" value="true" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find etna_workcell)/config/workcell.rviz" required="true" if="$(arg gui)" />
</launch>
