<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py $(find abb_irb_4400)/urdf/irbp_a250.urdf.xacro"/>
    <param name="use_gui" value="True"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <node name="rviz" pkg="rviz" type="rviz"/>
</launch>

