<launch>
  <!--<node name="camera" pkg="etna_scanning" type="pub_camera.py">
    <param name="image" type="str" value="/camera/image" />
    <param name="width" type="int" value="1280" />
    <param name="height" type="int" value="960" />
  </node>-->
  <node name="calibration" pkg="etna_calib" type="sub_viewer.py">
    <param name="image" type="str" value="/camera/image" />
    <param name="config_file" type="str" value="camera_profile3d.yaml" />
  </node>
</launch>

