<launch>
  <node name="webcam" pkg="etna_triangulation" type="pub_webcam.py">
    <param name="image" type="str" value="/webcam/image" />
    <param name="device" type="int" value="1" />
    <param name="width" type="int" value="1280" />
    <param name="height" type="int" value="720" />
  </node>
  
  <node name="calibration" pkg="etna_triangulation" type="sub_viewer.py">
    <param name="image" type="str" value="/webcam/image" />
    <param name="config_file" type="str" value="webcam_profile3d.yaml" />
  </node>
</launch>

