<launch>
  <node name="webcam" pkg="etna_scanning" type="pub_webcam.py">
    <param name="image" type="str" value="/camera/image" />
    <param name="device" type="int" value="0" />
    <param name="width" type="int" value="1280" />
    <param name="height" type="int" value="720" />
  </node>

  <node name="profile" pkg="etna_scanning" type="pub_profile3d.py">
    <param name="image" type="str" value="/camera/image" />
    <param name="cloud" type="str" value="/camera/cloud" />
    <param name="config" type="str" value="webcam_profile3d.yaml" />
  </node>
</launch>
