<?xml version="1.0" ?>
<robot name="abb_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="pi" value="3.141592654" />

  <!-- Robot -->
  <xacro:include filename="$(find abb_irb4400_support)/urdf/irb4400_macro.xacro"/>
  <xacro:abb_irb4400 prefix=""/>

  <joint name="world-irb4400" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.067" rpy="0 0 0" />
  </joint>

  <!-- Table -->
  <xacro:include filename="$(find etna_workcell)/urdf/irbp_a250.xacro"/>

  <joint name="world-irbp_a250/base_link" type="fixed">
    <parent link="world"/>
    <child link="irbp_a250/base_link"/>
    <origin xyz="1.755 0.014 0" rpy="0 0 -${pi/2}" />
  </joint>

  <link name="table0">
    <visual>
    <geometry>
      <mesh filename="package://etna_workcell/meshes/table/table.stl"/>
    </geometry>
    <material name="gray">
      <color rgba="0.4 0.4 0.4 0.6"/>
    </material>
  </visual>
  </link>

  <joint name="tool0-table0" type="fixed">
    <parent link="irbp_a250/tool0"/>
    <child link="table0"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1"/>
  </joint>
</robot>
