<?xml version="1.0" ?>
<robot name="head" xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="pi" value="3.141592654" />

  <xacro:property name="tcp_frame">
    <origin xyz="0.3 0 0.12" rpy="0 -${pi/2} 0"/>
  </xacro:property>

  <!-- Head -->
  <link name="head0">
  <visual>
    <geometry>
      <mesh filename="package://etna_workcell/meshes/fiber_head/head.stl"/>
    </geometry>
    <material name="gray">
      <color rgba="0.6 0.5 0.4 0.7"/>
    </material>
  </visual>
  </link>

  <!-- TCP -->
  <link name="tcp0"/>
  <joint name="tool0-tcp0" type="fixed">
    <parent link="tool0"/>
    <child link="tcp0"/>
    <xacro:insert_block name="tcp_frame" />
    <axis xyz="0 0 1"/>
  </joint>
</robot>
